body{
    font-family: 'Poppins', sans-serif;
}
.orange-color{
    color:orange;
}
.flexible-container{
    display: flex;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: 0%;
}
.half-width{
    width: 50%;
    padding-top: 10%;
    padding-left: 5%;
    padding-bottom: 5%;
}
.image-standing{
    padding-top: 0%;
    padding-bottom: 0%;
    padding-left: 0%;
    ;
}
h1{
    font-size: 50px;
}
h2{font-size:45px;
}
p{font-size: 18px;

}
.link-button{
    background-color: orange;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 500;
    padding-left: 25px;
    padding-right:25px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    border-radius: 20px;
}
.banner{
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-position: left;
    }
.one-third-width{   
    border-image: 30px solid white;
    box-shadow: 8px 8px 8px 8px rgba(128, 128, 128, 0.692);
    width:35%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 10%;
    margin:2%;
    }
    #middle-portion{
        text-align: center;
    }
    .gray-color{
        color: gray;
    }
    #bottom-banner{
        background-image: url(images/black.png);
        background-repeat: no-repeat;
    }
    .box{        
        box-shadow: 8px 8px 8px 8px rgba(128, 128, 128, 0.692);
        width: 1200px;
        height: 200px;
        padding-top: 0%;
        padding-bottom: 2%;
        padding-left: 2%;
        padding-right: 2%;
        border-radius: 2%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 0%;
        margin-bottom: 0%;
    }
.font-position{
    width: 33%;
}
    footer{
        text-align: center;
        color: white;
    }
